################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/projnum-game/env
/projnum-game/__pycache__
/LU3PY126___Rapport_intermédiaire.zip
/sources.zip
/Stratmann_Simonot_Lavenant.pdf
/Stratmann_Simonot_Lavenant.zip
/projnum-game/Datas/sim_data.txt
